# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* Explore Data Science Methodolgy
* Discover Machine Learning algorythms

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. MatPlotLib
3. Pandas

|Data Science Tools|
|------------------|
|JupyterNB|
|RStudio|
|Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [27]:
# This will convert 200 minutes to hours by diving by 60
Minutes=200
Hours=Minutes/60
print(Hours)

3.3333333333333335

## Author
Akim Srithammavanh